{% extends'layout.html.twig' %}


{% block title %} Erreur 404 ! {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="{{ asset('images/error.png') }}" id="imageError" class="img-responsive">
            </div>
            <div class="col-sm-12 col-md-6">
                <h2>Whoops...Erreur : {{ status_code }}</h2>
                <h1><small>La page est introuvable</small></h1>
                <br>
                <a href="{{ path('home') }}">
                    <button class="btn btn-primary">ACCUEIL</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
