{% extends "layout.html.twig" %}

{% block title %} Erreur 403! {% endblock %}
{% block content %}

    <div class="container box-error">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="{{ asset('images/error403.PNG') }}">
            </div>
            <div class="col-sm-12 col-md-6">
                <h1>Accès interdit, Erreur : {{ status_code }}</h1>
                <br>
                <a href="{{ path('home') }}">
                    <button class="btn btn-primary"> ACCUEIL</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
