{% extends'layout.html.twig' %}

{% block title %} Erreur 500 ! {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="{{ asset('images/error500.png') }}">
            </div>
            <div class="col-sm-12 col-md-6">
                <h1>Whoops...Erreur : {{ status_code }}</h1>
                <h1><small>Le serveur rencontre un problème de configuration</small></h1>
                <p> Merci de contacter l'administrateur du site : uu.uuuu@gmail.com
                et de l'informer de l'erreur rencontrée</p>
                <br>
                <a href="{{ path('home') }}">
                    <button class="btn btn-primary"> ACCUEIL</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
