{% extends'layout.html.twig' %}


{% block title %} Erreur générique! {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-offset-4 col-md-4" style="text-align: center">
                <h1>Whoops erreur</h1>
                <p> Merci de contacter l'administrateur du site : uu.uuuu@gmail.com
                    et de l'informer de l'erreur rencontrée</p>
                <br>
                <a href="{{ path('home') }}">
                    <button class="btn btn-primary"> ACCUEIL</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
