{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Schoolywood</title>

    {% block script %}

        <!--Import jQuery before materialize.js-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- icons -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">

        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>




    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('lib/noty.css') }}" rel="stylesheet">
        <script src="{{ asset ('lib/noty.js') }}" type="text/javascript"></script>
    {% endblock %}
</head>
<body>
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('home') }}">Schoolywood</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('notre_association') }}"><i class="fa fa-users" aria-hidden="true"></i>Notre
                                association</a></li>
                        <li><a href="{{ path('shop') }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Boutique</a>
                        </li>
                        <li><a href="{{ path('new_tee_shirt') }}"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Envoyez
                                un dessin </a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('panier') }}"><i class="fa fa-shopping-bag"> </i> Panier </a></li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
    {% block content %}
    {% endblock %}


{% endblock %}


{% block script_for_child %}
{% endblock %}

{% block footer %}
    <div class="container-fluid">
        <div class="row footer">
            <ul class="list-group">
                <div class="col-md-4">
                    <p id="copyright">2017 Copyright Schoolywood</p>
                </div>
                <div class="col-md-2 col-md-offset-6">
                    <li class="list-group-item"><a href="{{ path('contact') }}">Nous contacter</a></li>
                    <li class="list-group-item"><a href="{{ path('mentions_legales') }}">Mentions légales</a></li>
                </div>
            </ul>
        </div>
    </div>
{% endblock %}



</body>
</html>
