{% extends'layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img id="notre_association" src="{{ asset('images/notre_association.jpg') }}"
                     class="card-img-top img-responsive" alt="notre_association"/>
                <br> <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat vehicula leo, a posuere orci
                    semper sit amet. Ut lacinia augue a velit elementum, quis suscipit ligula interdum. Phasellus
                    tincidunt
                    sapien at leo facilisis dapibus. Donec bibendum tortor a libero fringilla, feugiat aliquet urna
                    hendrerit. Nulla feugiat ipsum risus, non egestas lacus imperdiet vitae. Nam a viverra sem, ut
                    tincidunt
                    lorem. Curabitur vel lacinia eros. Nam non pharetra ipsum.

                    Nam ut urna in urna vehicula scelerisque. Pellentesque at lectus urna. Vestibulum congue arcu non
                    magna
                    rutrum imperdiet. Aliquam erat volutpat. Pellentesque aliquet, augue at lacinia tristique, mauris
                    neque
                    suscipit leo, sed consectetur velit ligula a elit. In lacus justo, venenatis sed tortor eget,
                    hendrerit
                    ullamcorper lacus. Integer vel neque a velit varius fermentum ut non sapien.
                </p>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <p>
                    Mauris auctor imperdiet hendrerit. Mauris pulvinar urna a tellus posuere sollicitudin. Sed sit amet
                    malesuada augue. Ut pulvinar ligula ut est facilisis, non efficitur lectus facilisis. In in eros id
                    nunc
                    varius lobortis. In non nulla ante. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra,
                    per inceptos himenaeos.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

