{% extends'layout.html.twig' %}

{% block content %}

    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-success">
            <p> {{ message }}</p>
        </div>
    {% endfor %}

{% endblock %}
