{% extends'layout.html.twig' %}

{% block content %}

    <div class="container">
        <h1> Connexion </h1>

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <p>
        <form action="{{ path('login_check') }}" method="post">
            <label for="username">Pseudo </label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>
        <p>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="_password"/>
        </p>
        <button type="submit" class="btn btn-primary">Connexion</button>
        </form>
    </div>

{% endblock %}
