{% extends'layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1> Nous contacter </h1>
                <br>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.email) }}
                {{ form_row(form.objet) }}
                {{ form_row(form.message) }}
                {{ form_widget(form.submit, {'attr' : {'class' : 'btn btn-primary'}}) }}

                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
            <div class="col-sm-offset-2 col-sm-4 text-center teste">
                <h1> Nos coordonnées </h1>
                <br>
                <h3>Adresse</h3>
                <p>33 rue des tilleuls</p>
                <p>25000 Besançon</p>
                <p>France</p>
                <br>
                <h3>Téléphone</h3>
                <p>01 02 03 04 05</p>
            </div>
        </div>
    </div>
{% endblock %}


