{% extends'layout.html.twig' %}

{% block content %}



    {% set totalTTC = 0 %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">

                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.name) }}
                {{ form_row(form.address) }}
                {{ form_row(form.postalCode) }}
                {{ form_row(form.city) }}
                {{ form_row(form.email) }}

                <p> Prix total de la commande :

                    {% for produit in produits %}

                        {% set totalTTC = totalTTC +(produit.price * panier[produit.id]) %}

                    {% endfor %}
                </p>

                <p><strong>{{ totalTTC }} € </strong></p>

                <a href="{{ path('payment') }}">
                    <button class="btn btn-info"> Valider mon adresse de livraison</button>
                </a>
                <a href="{{ path('panier') }}">
                    <button class="btn btn-info"> Retour</button>
                </a>
                {{ form_row(form.total, {'value' : totalTTC }) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
