{% extends'layout.html.twig' %}

{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-sm-offset-1 ">
                <div class="card">
                    <img src="{{ asset('images/notre_association.jpg') }}" class="card-img-top img-responsive imgHome hidden-xs"/>
                </div>
                <div class="card-block">
                    <h4 class="card-title text-center"><a href="{{ path('notre_association') }}"
                                                          class="btn btn-primary">Notre association</a></h4>
                    <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis
                        sagittis lacus, eget vestibulum turpis molestie eget. Ut blandit mauris ligula, venenatis
                        hendrerit arcu convallis sit amet. Pellentesque sem eros, venenatis non urna at, efficitur
                        pellentesque enim. Pellentesque purus leo, condimentum eget posuere quis, iaculis eu tortor.</p>
                </div>
            </div>
            <div class="col-xs-12  col-sm-3 col-sm-offset-1 ">
                <div class="card">
                    <img src="{{ asset('images/shop.jpg') }}" class="card-img-top img-responsive imgHome hidden-xs"/>
                </div>
                <div class="card-block">
                    <h4 class="card-title text-center"><a href="{{ path('shop') }}" class="btn btn-primary">Boutique en
                            ligne</a></h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis sagittis
                        lacus, eget vestibulum turpis molestie eget. Ut blandit mauris ligula, venenatis hendrerit arcu
                        convallis sit amet. Pellentesque sem eros, venenatis non urna at, efficitur pellentesque enim.
                        Pellentesque purus leo, condimentum eget posuere quis, iaculis eu tortor.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-offset-1 ">
                <div class="card">
                    <img src="{{ asset('images/contact.png') }}" class="card-img-top img-responsive imgHome hidden-xs"/>
                </div>
                <div class="card-block">
                    <h4 class="card-title text-center"><a href="{{ path('contact') }}"
                                                          class="btn btn-primary">Contact </a></h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis sagittis
                        lacus, eget vestibulum turpis molestie eget. Ut blandit mauris ligula, venenatis hendrerit arcu
                        convallis sit amet. Pellentesque sem eros, venenatis non urna at, efficitur pellentesque enim.
                        Pellentesque purus leo, condimentum eget posuere quis, iaculis eu tortor.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
