{% extends'layout.html.twig' %}

{% block content %}
    <div class="container">
    <div class="col-sm-12 text-center"><p id="siteFictif">Ce site a été réaliser dans le cadre d'un projet informatique
            étudiant </p></div>
    <div class="row">
        <div class="col-xs-12 col-sm-4"><h3 class="titleMentionsLegales">MENTIONS LÉGALES DU SITE</h3>
        </div>
    </div>
    <h4> www.clement-opc.fr/projet_6</h4>
    <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la
        Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et
        visiteurs du site www.clement-opc.fr/projet_6 les présentes mentions légales.</p>
    <p>Le site www.clement-opc.fr/projet_6 est accessible à l'adresse suivante :</p>
    <p>http://www.clement-opc.fr/projet_6 (ci-après "le Site"). L'accès et l'utilisation du Site sont soumis aux
        présentes " Mentions légales" détaillées ci-après ainsi qu'aux lois et/ou règlements applicables.</p>
    <p>La connexion, l'utilisation et l'accès à ce Site impliquent l'acceptation intégrale et sans réserve de
        l'internaute de toutes les dispositions des présentes Mentions Légales.</p>
    <div class="row">
        <div class="col-xs-12 col-sm-4"><h4 class="titleMentionsLegales">ARTICLE 1 - INFORMATIONS LÉGALES'</h4></div>
    </div>
    <p>En vertu de l'Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie
        numérique, il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa
        réalisation et de son suivi.</p>
    <p>Le site www.clement-opc.fr/projet_6 est édité par :'</p>
    <strong>Clément MICHELIN'</strong>
    <p>domicilié à l\'adresse suivante : 33 rue des tilleuls.'</p>
    <p>Téléphone : 06 33 34 35 36'</p>
    <p>Adresse e-mail : michelin.clement@gmail.com'</p>
    <p>ci après " l\'Éditeur "'</p>
    <p>Le Directeur de publication est :'</p>
    <strong>Clément MICHELIN'</strong>
    <p>Adresse e-mail de contact : michelin.clement@gmail.com'</p>
    <p>ci après " le Directeur de publication"'</p>
    <p>Le site www.clement-opc.fr/projet_6 est hébergé par :'</p>
    <p>ci après "l\'Hébergeur"' </p>
    <p>OVH'</p>
    <p>dont le siège est situé à l'adresse suivante : 2 rue Kellermann 59100 Roubaix</p>
    <p>Téléphone : 1007'</p>
    <p>Adresse e-mail : support@ovh.com.'</p>
    <p>Sont considérés comme utilisateurs tout les internautes qui naviguent, lisent, visionnent et utilisent le
        site www.clement-opc.fr/projet_6.</p>
    <p>ci après les " Utilisateurs "'</p>
    <div class="row">
        <div class="col-xs-12 col-sm-4"><h4 class="titleMentionsLegales">ARTICLE 2 - ACCESSIBILITÉ</h4>
        </div>
    </div>
    <p>Le Site est par principe accessible aux utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou
        non, pour des besoins de maintenance ou en cas de force majeure.
        En cas d'impossibilité d'accès au Site, celui-ci s'engage à faire son maximum afin d'en rétablir l'accès.
        Le Site ne saurait être tenu pour responsable de tout dommage, quelle qu'en soit la nature, résultant de
        son indisponibilité.</p>
    <div class="row">
        <div class="col-xs-12 col-sm-4"><h4 class="titleMentionsLegales">ARTICLE 3 - COLLECTE DE DONNÉES ET LOI
                INFORMATIQUE ET LIBERTÉS</h4>
        </div>
    </div>
    <p>Ce site est déclaré à la Commission Nationale Informatique et Libertés (CNIL)
        En outre, il est conforme aux dispositions de la Loi 78-17 du 6 janvier 1978 relative à l'informatique,
        aux fichiers et aux libertés. En vertu de celle-ci l'Utilisateur bénéficie notamment d'un droit
        d'opposition (art. 32 et 38), d'accès (art. 38 et 39) et de rectification (art. 40) des données le
        concernant.</p>
    <p>Pour faire usage de celui-ci, l'Utilisateur doit s'adresser à l'Éditeur en le contactant à l'adresse suivante
        : michelin.clement@gmail.com, ou par courrier adressé au domicile de l'Éditeur en précisant ses nom,
        prénom(s), adresse et adresse(s) e-mail.</p>
    <div class="row">
        <div class="col-xs-12 col-sm-4"><h4 class="titleMentionsLegales">ARTICLE 4 - LOI APPLICABLE ET JURIDICTION</h4>
        </div>
    </div>
    <p>Les présentes Mentions Légales sont régies par la loi française. En cas de différend et à défaut
        d'accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de
        compétence en vigueur.</p>
    <div class="row">
        <div class="col-xs-12 col-sm-4"><h4 class="titleMentionsLegales">ARTICLE 5 - CONTACT</h4>
        </div>
    </div>
    <p>Pour tout signalement de contenus ou d'activités illicites, l'Utilisateur peut contacter l'Éditeur à
        l'adresse suivante : michelin.clement@gmail.com, ou par courrier recommandé avec accusé de réception adressé à
        l'Éditeur aux coordonnées précisées dans les présentes mentions légales.
        Le site www.clement-opc.fr/projet_6 vous souhaite une excellente navigation !
    </p>
    <a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}
