{% extends'layout.html.twig' %}

{% block content %}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-success">
            <p> {{ message }}</p>
        </div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="{{ asset('images/new_dessin.jpg') }}" id="new_dessin" class="img-responsive">
                <br> <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis sagittis lacus, eget
                    vestibulum turpis molestie eget. Ut blandit mauris ligula, venenatis hendrerit arcu convallis sit
                    amet. Pellentesque sem eros, venenatis non urna at, efficitur pellentesque enim. Pellentesque purus
                    leo, condimentum eget posuere quis, iaculis eu tortor.
                </p>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {{ form_start(form) }}

                {{ form_row(form.firstName) }}
                {{ form_row(form.name) }}
                {{ form_row(form.birthDate) }}

                {{ form_widget(form.image) }}
                {{ form_errors(form.image) }}

                {{ form_row(form.envoyer, {'attr' : {'class' : 'btn btn-primary'}}) }}

                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block script_for_child %}
    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}
