{% extends'layout.html.twig' %}

{% block content %}

    {% set totalTTC = 0 %}

    <div class="container">
        <div class="col-md-offset-6 col-md-6">
            <h1> Panier</h1>
            <p>Praesent venenatis malesuada tincidunt. Phasellus ut vestibulum dolor</p>
            <div class="table-responsive">
                <table id="dataTablePanier">
                    <thead>
                    <tr>
                        <th>Article</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Prix total</th>
                    </tr>
                    </thead>
                    {% for produit in produits %}
                        <tr>
                            <form action="{{ path('add_article', {'id' : produit.id}) }}" method="get">
                                <td> {{ produit.stock.title }}</td>
                                <td><select name="qte" onchange="this.form.submit()" class="updateQuantity">
                                        {% for i in 1..10 %}
                                            <option value="{{ i }}" {% if i== panier[produit.id] %} selected="selected" {% endif %}>
                                                {{ i }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <a href="{{ path('remove', {'id': produit.id}) }}"
                                       class="glyphicon glyphicon-remove removeArticle"> </a>
                                </td>
                                <td> {{ produit.price }} €</td>
                                <td> {{ produit.price * panier[produit.id] }} €</td>
                            </form>
                        </tr>
                        {% set totalTTC = totalTTC +(produit.price * panier[produit.id]) %}
                    {% endfor %}
                </table>
            </div>
            {% if panier|length == 0 %}
                <a href="{{ path('shop') }}">
                    <button class="btn btn-info btnPanier"> Commencer mes achats</button>
                </a>
            {% else %}
                <a href="{{ path('shop') }}">
                    <button class="btn btn-info btnPanier"> Continuer mes achats</button>
                </a>
                <a href="{{ path('delivery') }}">
                    <button class="btn btn-info btnPanier"> Poursuivre la commande</button>
                </a>
                <a href="{{ path('clear') }}" class="btn btn-danger btnPanier"> Vider le panier</a>
            {% endif %}
        </div>
    </div>


{% endblock %}

{% block script_for_child %}
    <script>
        $(document).ready(function () {
            $('.removeArticle').click(function () {
                new Noty({
                    type: 'success',
                    layout: 'topRight',
                    theme: 'sunset',
                    text: 'L\'article a bien été supprimer',
                    timeout: 1000,
                    progressBar: true,
                    closeWith: ['click', 'button'],
                    animation: {
                        open: 'noty_effects_open',
                        close: 'noty_effects_close'
                    },
                    modal: true
                }).show()
            });

            $('#dataTablePanier').DataTable({
                "paging": false,
                "info": false,
                "searching": false,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/French.json'
                }
            });
        });
    </script>
{% endblock %}
