{% extends'layout.html.twig' %}

{% block content %}
    {% set totalTTC = 0 %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {% if commande is not empty %}
                    <h1> Adresse de Livraison </h1>
                    <p>{{ commande.name }}</p>
                    <p>{{ commande.firstName }}</p>
                    <p>{{ commande.address }}</p>
                    <p>{{ commande.postalCode }} {{ commande.city }}</p>
                    <p>{{ commande.email }} </p>

            {% endif %}
            </div>
            <div class="col-sm-offset-2 col-sm-4">
                <h1> Paiement </h1>
                <form action="#" method="POST">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ public_key }}"
                            data-currency="eur"
                            data-amount={{ commande.total * 100 }},
                            data-name="Votre commande"
                            data-locale="auto"
                            data-zip-code="true">
                    </script>
                </form>
                <div id="paypal-button-container"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_for_child %}

    <script>
        $(document).ready(function () {
            $('#dataTablePanier').DataTable({
                "paging": false,
                "info": false,
                "searching": false
            });
            paypal.Button.render({

                env: 'sandbox', // sandbox | production

                locale: 'fr_FR',

                style: {
                    size: 'small',
                    color: 'gold',
                    shape: 'pill',
                    label: 'checkout'
                },

                // PayPal Client IDs - replace with your own
                // Create a PayPal app: https://developer.paypal.com/developer/applications/create
                client: {
                    sandbox: 'AUH7QR-tgXHfX_COker3lcgHlev-8FUwI2Qk8WniAf92b-Rty0w1naIo0pftn4wZPzKML_ehe_q5AXO3',
                    production: 'AZIXQnBCm6TcY7QEB01YNRcHpQQCZEODqzzffXZfKx9KiugGkmU1oicmOI6z7tFNkc0lZecxKuyLoahV'
                },

                // Show the buyer a 'Pay Now' button in the checkout flow
                commit: true,

                // payment() is called when the button is clicked
                payment: function (data, actions) {

                    // Make a call to the REST api to create the payment
                    return actions.payment.create({
                        payment: {
                            transactions: [
                                {
                                    amount: {total: {{ commande.total }}, currency: 'EUR'}
                                }
                            ]
                        }
                    });
                },

                // onAuthorize() is called when the buyer approves the payment
                onAuthorize: function (data, actions) {

                    // Make a call to the REST api to execute the payment
                    return actions.payment.execute().then(function () {
                        window.alert('Paiement effectué !');
                    });
                }

            }, '#paypal-button-container');
        });
    </script>

{% endblock %}
