{% extends'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for articleShop in listShop %}
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="card">
                        {% if articleShop.image is not null %}
                            <img class="card-img-top img-responsive"
                                 src="{{ asset(articleShop.image.getUploadDir) }}/{{ articleShop.image.id }}.{{ articleShop.image.extension }}"
                                 alt="{{ articleShop.image.alt }}"/>
                        {% endif %}

                    </div>
                    <div class="card-block">
                        <p> {{ articleShop.title }}</p>
                        <p> {{ articleShop.content }}</p>
                        <a href="{{ path('detail_article', {'id': articleShop.id}) }}" class="btn btn-info spacingArticle"> Infos </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row menuPanier">
            <div class="col-sm-3 col-sm-offset-9">
                {{ render (controller('AppBundle:Default:menu')) }}
            </div>
        </div>
    </div>
{% endblock %}



{% block script_for_child %}
    <script>

        $(document).ready(function () {

            $('.addPanier').click(function () {
                new Noty({
                    type: 'success',
                    layout: 'topRight',
                    theme: 'sunset',
                    text: 'L\'article a bien été ajouter au panier',
                    progressBar: true,
                    closeWith: ['click', 'button'],
                    animation: {
                        open: 'noty_effects_open',
                        close: 'noty_effects_close'
                    },
                    modal: true
                }).show()
            });
        });

    </script>
{% endblock %}


