{% extends'layout.html.twig' %}

{% block content %}
    {% if article.stock.dessinValid == true %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="card">
                        {% if article.stock.image is not null %}
                            <img class="card-img-top img-responsive"
                                 src="{{ asset(article.stock.image.getUploadDir) }}/{{ article.stock.image.id }}.{{ article.stock.image.extension }}"
                                 alt="{{ article.stock.image.alt }}"/>
                        {% endif %}
                    </div>
                    <div class="card-block">
                        <h4 class="card-title addPanier">{{ article.stock.title }}</h4>
                        <p class="card-text">{{ article.stock.content }}</p>
                        <p>Taille unique </p>
                        {{ form_start(form, {'action' : path('add_article', {'id' : article.id} )}) }}
                        {{ form_errors(form) }}

                        {{ form_widget(form.Ajouter, {'attr' : {'class' : 'btn btn-primary'}}) }}
                        {{ form_rest(form) }}
                    </div>
                </div>
                <div class="menuPanier">
                    <div class="col-md-3 col-md-offset-9">
                        {{ render (controller('AppBundle:Default:menu')) }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>Cet article n'existe pas</p>
        <p>
        <a href="{{ path('shop') }}" class="btn btn-primary">Retour à la boutique</a>
        </p>
        <p>
        <a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a>
        </p>
    {% endif %}


{% endblock %}

{% block script_for_child %}
    <script>

        $(document).ready(function () {

            $('.addPanier').click(function () {
                new Noty({
                    type: 'success',
                    layout: 'topRight',
                    theme: 'sunset',
                    text: 'L\'article a bien été ajouter au panier',
                    timeout: 1000,
                    progressBar: true,
                    closeWith: ['click', 'button'],
                    animation: {
                        open: 'noty_effects_open',
                        close: 'noty_effects_close'
                    },
                    modal: true
                }).show()
            });
        });

    </script>
{% endblock %}
