{% extends 'layout.html.twig' %}

{% block content %}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-success">
            <p> {{ message }}</p>
        </div>
    {% endfor %}
    <h1>Commande edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}


    <ul>
        <li>
            <a href="{{ path('adminArticles_index') }}" class="btn btn-info">Retour</a>
        </li>
        <li>
            <input type="submit" value="éditer" class="btn btn-primary"/>
        </li>
        {{ form_end(edit_form) }}
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer" class="btn btn-danger btn-xs">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
