{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Commande n ° {{ commande.id }} </h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ commande.name }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ commande.firstName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ commande.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ commande.address }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ commande.postalCode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ commande.city }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ commande.total }} €</td>
            </tr>
        </tbody>
    </table>
    <br>
    <ul>
        <li>
            <a href="{{ path('commande_edit', { 'id': commande.id }) }}" class="btn btn-primary">éditer</a>
        </li>
        <br>
        <li>
            <a href="{{ path('adminArticles_index') }}" class="btn btn-info">retour</a>
        </li>
        <br>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="supprimer" class="btn btn-danger btn-xs">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
