body{
    background-color: #f6def7;
}

.navbar-default, .footer {
    background-color: #1e73be;
}

.nav.navbar-nav.navbar-right li a,.nav.navbar-nav li a, .navbar-default .navbar-header .navbar-brand, #copyright   {

    color: white !important;
}

.navbar-default .navbar-nav > li > a:hover{
    background-color:#7F7EFF;
}

.footer{
    margin-top: 120px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 320px;
    width: 350px;
}

#notre_association {
    width: 600px !important;
    height: auto !important;
}

.imgHome{
    max-width: 110%;
    height: 280px;
}


.fa {
    margin-right: 5px;
}

.menuPanier
{
    margin-top: 5%;
}

.glyphicon-ok{
    color: green;
}

.glyphicon-remove{
    color: red;
}

.spacingArticle{
    margin-bottom: 5%;
}


.titleMentionsLegales {
    font-weight: bold;
}

#new_dessin{
    max-width: 100%;
    height: auto;
}

.btnPanier {
    margin-top:  4%;
}

#paypal-button-container{
    margin-top: 10%;
}


#imageError{
    width: 400px;
}

