{% extends 'layout.html.twig' %}

{% block content %}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-success">
            <p> {{ message }}</p>
        </div>
    {% endfor %}

    <h1>Modifier l'article</h1>


    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.firstName) }}
    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.birthDate) }}
    {{ form_row(edit_form.title) }}
    {{ form_row(edit_form.content) }}
    {{ form_errors(edit_form.image) }}
    {{ form_widget(edit_form.image)}}
    <ul>
        <li>
            <input type="submit" value="éditer" class="btn btn-primary"/>
        </li>


        {{ form_end(edit_form) }}
        <li>
            <a href="{{ path('adminArticles_index') }}" class="btn btn-info">retour</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block script_for_child %}
    <script>

        $(document).ready(function () {

            $('#appbundle_shopAdmin_envoyer').hide();
        });

    </script>
{% endblock %}
