{% extends 'layout.html.twig' %}

{% block content %}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-success">
            <p> {{ message }}</p>
        </div>
    {% endfor %}
    <h1 class="text-center">Liste des articles</h1>
    <div class="table-responsive">
        <table class="dataTablePanier">
            <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Dessin valider</th>
                <th>Actions</th>
            </tr>

            </thead>
            <tbody>
            {% for shop in shops %}
                <tr>
                    <td><a href="{{ path('adminArticles_show', { 'id': shop.id }) }}">{{ shop.id }}</a></td>
                    <td>{{ shop.firstName }}</td>
                    <td>{{ shop.name }}</td>
                    <td>{% if shop.birthDate %}{{ shop.birthDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ shop.title }}</td>
                    <td>{{ shop.content }}</td>
                    <td>{% if shop.dessinValid %}
                            Oui
                            <a href="{{ path('adminArticles_remove', {'id' : shop.id}) }}">
                                <i class="glyphicon glyphicon-remove"> </i>
                            </a>
                        {% else %}
                            Non
                            <a href="{{ path('adminArticles_valid', {'id' : shop.id }) }}">
                                <i class="glyphicon glyphicon-ok"> </i> </a>
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('adminArticles_show', { 'id': shop.id }) }}">consulter</a>
                            </li>
                            <li>
                                <a href="{{ path('adminArticles_edit', { 'id': shop.id }) }}">éditer</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>

    <p>
        <a href="{{ path('adminArticles_new') }}" class="btn btn-primary btn-xs">Ajouter un article en vente</a>
    </p>

    <br>
    <br>
    <h1 class="text-center">Liste des commandes</h1>
    <div class="table-responsive">
        <table class="dataTablePanier">
            <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Addresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr>
                    <td><a href="{{ path('commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
                    <td>{{ commande.name }}</td>
                    <td>{{ commande.firstName }}</td>
                    <td>{{ commande.email }}</td>
                    <td>{{ commande.address }}</td>
                    <td>{{ commande.postalCode }}</td>
                    <td>{{ commande.city }}</td>
                    <td>{{ commande.total }} €</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('commande_show', { 'id': commande.id }) }}">consulter</a>
                            </li>
                            <li>
                                <a href="{{ path('commande_edit', { 'id': commande.id }) }}">éditer</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script_for_child %}
    <script>
        $(document).ready(function () {
            $('.dataTablePanier').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/French.json'
                }
            });
        });
    </script>
{% endblock %}
