{% extends 'layout.html.twig' %}

{% block content %}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-success">
            <p> {{ message }}</p>
        </div>
    {% endfor %}
    <h1>Ajouter un article en vente</h1>

    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_row(form.firstName) }}
    {{ form_row(form.name) }}
    {{ form_row(form.birthDate) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_widget(form.image) }}
    {{ form_errors(form.image) }}

    <ul>
        <li>
            <input type="submit" value="ajouter" class="btn btn-primary"/>
        </li>
        <li>
            <a href="{{ path('adminArticles_index') }}" class="btn btn-info">Retour</a>
        </li>
    </ul>
    {{ form_end(form) }}
{% endblock %}


{% block script_for_child %}
    <script>

        $(document).ready(function () {

            $('#appbundle_shopAdmin_envoyer').hide();
        });

    </script>
{% endblock %}

