{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Article n° {{ shop.id }}</h1>

    <table>
        <tbody>
        <tr>
            <th>Prénom</th>
            <td>{{ shop.firstName }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ shop.name }}</td>
        </tr>
        <tr>
            <th>Date de naissance</th>
            <td>{% if shop.birthDate %}{{ shop.birthDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ shop.title }}</td>
        </tr>
        <tr>
            <th>Contenu</th>
            <td>{{ shop.content }}</td>
        </tr>
        <tr>
            <th>Valider</th>
            <td>{% if shop.dessinValid %}Yes{% else %}No{% endif %}</td>
        </tr>
        </tbody>
        <img src="{{ asset(shop.image.getUploadDir) }}/{{ shop.image.id }}.{{ shop.image.extension }}"
             alt="{{ shop.image.alt }}" class="img-responsive"/>
    </table>
    <br>
    <ul>
        <li>
            <a href="{{ path('adminArticles_edit', { 'id': shop.id }) }}" class="btn btn-primary">éditer</a>
        </li>
        <br>
        <li>
            <a href="{{ path('adminArticles_index') }}" class="btn btn-info">retour</a>
        </li>
        <br>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="supprimer" class="btn btn-danger btn-xs">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
