<p> Bonjour, </p>

<p> Nous vous remerçions pour votre commande. Votre commande porte le numéro {{ referenceCommande }} </p>
<p> Vous trouverez ci-dessous un récapitulatif de votre commande </p>

<p> Récapitulatif de la commande : </p>

<p> ----------------------------------------------------------------- </p>
<table>
    <thead>
    <tr>
        <th>Article</th>
        <th>Quantité</th>
        <th>Prix unitaire</th>
    </tr>
    </thead>
    {% for article in articles %}
        <tr>
            <td> {{ article.title }}</td>
            <td> {{ article.quantity }}</td>
            <td> {{ article.price }} €</td>
        </tr>
    {% endfor %}
</table>
<p>Prix total de la commande {{ total }} €</p>
<p> ----------------------------------------------------------------- </p>
<h1> Votre adresse de livraison : </h1>
<p>{{ firstName }} {{ name }} </p>
<p>{{ address }} </p>
<p>{{ postalCode }} {{ city }}</p>
<p>{{ email }}</p>

